#head{
  font-size: 30px ;
  color: cyan;
  text-align: center;
  font-family: monospace;

}
#mobopr{
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mobname{
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}